
h3{
  margin-top:20px;
  margin-left:150px;
  text-decoration:underline;
}

.topInput{

  margin-left:90px;
}

#sign{
  font-size:25px;
  margin-top:30px;
  margin-left: 190px;

}

.ansField{
  display:block;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:100px;
}

.topInput{
  text-align:center;
  margin-top:20px;
  margin-left:90px;
}

.bottomInput{
  text-align:center;
  margin-top:20px;
  margin-left:90px;
}

#calculateBtn{
  display:block;
  margin-top:20px;
  margin-left:150px;
}

.container{
  margin-top:30px;
  background-color:orange;
  margin-left:200px;
  width:400px;
  height:100%;
  border:solid;
  border-width:5px;
  border-radius:20px;
}

.cat{
  margin-top:20px;
  margin-left:50px;
  border:solid;
  border-width:2px;
  border-radius:100%;
}

.buttonSec{
  margin-top:30px;
  margin-left:140px;
  display:block;
}

.buttons{
  border:sold;
  border-radius:5px;
  border-width:2px;
}
